<!DOCTYPE html>
<html>
  <head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <style>
      .tab { margin-left: 30px }
      #calendar, #calendars {
        max-width: 900px;
        margin: 0 auto;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>AgrEvent</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.print.css">
  </head>
  <body>
    <nav class="light-green darken-2">
      <div class="nav-wrapper container">
        <a href="#" class="brand-logo">AgrEvent</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="index.html"><i class="material-icons left">home</i>Home</a></li>
          <li><a href="profile.html"><i class="material-icons left">account_box</i>Profile</a></li>
          <li><a href="calendar.html"><i class="material-icons left">date_range</i>Calendar</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </nav>
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#">Account Settings</a></li>  <!-- add href -->
      <li class="divider"></li>
      <li><a href="/">Log Out</a></li> <!-- add href -->
    </ul>
    <div class="section no-pad-bot">
      <div class="container light-green-text text-darken-3">
        <br>
        <br>
        <h1 class="header center light-green-text text-darken-3">All Events</h1>
        <div class="row">
          <div class="col s12">
            <div id='calendar'></div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <h1 class="header center light-green-text text-darken-3">Your Events</h1>
        <div class="row">
          <div class="col s12">
            <div id='calendars'></div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="js/calendar.js"></script>
  </body>
</html>